* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Libre Franklin;
}

ul {
	list-style: none;
}

.navigation {
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 100%;
	color: white;
	fill: white;
}

.navigation--bar {
	display: flex;
	margin: 5% 10%;
	justify-content: space-between;
	position: absolute;
	width: 80vw;
	flex-wrap: wrap;
	position: absolute;
	z-index: 3;
}

.navigation--bar--logo {
	flex: 4 0 50%;
	font-size: 24px;
	line-height: 29px;
	font-style: normal;
	font-weight: bold;
	cursor: context-menu;
	z-index: 50;
}

.navigation--bar--menu {
	flex-grow: 2;
	display: none;
	justify-content: flex-start;
	flex-direction: column;
	font-size: 18px;
	line-height: 22px;
	position: fixed;
	left: 0;
	top: -20px;
	padding: 15% 10%;
	background-color: white;
	color: black;
	width: 80vw;
	height: 100vw;
	z-index: 10;
}

.navigation--bar--menu__line {
	display: unset;
	border: 2px solid black;
	margin: 2% 0;
}

.navigation--bar--menu * {
	margin-bottom: 20px;
}

.navigation--bar--menu--item {
	display: unset;
	cursor: pointer;
}

.navigation--bar--menu--burger {
	display: flex;
	flex: 4 0 50%;
	justify-content: flex-end;
	cursor: pointer;
	align-items: center;
	z-index: 50;
}

.navigation--heroimage {
	position: relative;
	overflow: hidden;
	width: 100vw;
	max-width: 100%;
}

.navigation--heroimage__cover {
	top: 0;
	background-color: rgba(198, 108, 73, 0.4);
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
}

.navigation--heroimage img {
	top: 0;
	width: 100%;
	float: right;
	min-width: 400px;
}

.navigation--content {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 25vw;
	text-align: center;
	justify-content: space-between;
	margin: 5% 10%;
	width: 80vw;
	z-index: 2;
}

.navigation--content--items {
	width: inherit;
}

.navigation--content--items--title {
	font-size: 6vw;
	line-height: 7vw;
}

.navigation--content--items--description {
	font-size: 3.5vw;
	line-height: 4.25vw;
}

.content {
	margin: 5% 10%;
	display: flex;
	flex-direction: column;
}

.content * {
	margin-bottom: 20px;
}

.content--title {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}

/* minimal layar ukuran besar */
@media screen and (min-width: 768px) {
	.navigation--bar--menu {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		background-color: unset;
		flex: 4 0 50%;
		width: unset;
		height: unset;
		position: unset;
		line-height: 29px;
		padding: unset;
		color: white;
	}

	.navigation--bar--menu__line {
		display: none;
	}

	.navigation--bar--logo {
		color: white;
	}

	.navigation--bar--menu--burger {
		display: none;
	}

	.navigation--bar--menu--item {
		display: unset;
	}

	.navigation--content {
		text-align: unset;
	}

	.content * {
		margin-bottom: 60px;
	}

	.content--title {
		text-align: left;
	}

	.content--description {
		font-size: 18px;
		line-height: 30px;
	}
}